<footer class="footer">
    <a href="{{ path('plan') }}" class="footer__link">plan du site</a>
    <a href="{{ path('mention') }}" class="footer__link">Mentions légale</a>
    <a href="{{ path('confidentiality') }}" class="footer__link">Politique de confidentialité</a>
</footer>