<section class="info">
        <h2 class="info__title">Infos pratiques</h2>
        <aside class="info__contents">
            <div class="info__contents__left">
                <h3 class="info__subtitle ">Cuisine</h3>
                <div class="info__subtitle__border"></div>
                <p class="info__content">Française, Fait maison</p>
            </div>
            <div class="info__contents__right">
                <h3 class="info__subtitle">TYPE DE RESTAURANT</h3>
                <div class="info__subtitle__border"></div>
                <p class="info__content">Gastronomique</p>
            </div>
            <div class="info__contents__left">
                <h3 class="info__subtitle ">Services</h3>
                <div class="info__subtitle__border"></div>
                <p class="info__content">
                    Terrasse, Accès aux personnes à mobilité réduite, Climatisation, Wifi
                    Parking privé gratuit, Navette gratuite en direction de l'aéroport sur simple appel de 6H30 à 22H30
                </p>
            </div>
            <div class="info__contents__right">
                <h3 class="info__subtitle">Moyens de paiement</h3>
                <div class="info__subtitle__border"></div>
                <p class="info__content">American Express, Carte Bleue, Chèques, Espèces, Eurocard/Mastercard, Titres restaurant, Visa</p>
            </div>
            
            <div class="info__contents__left">
                <h3 class="info__subtitle">Horraires | Restauration</h3>
                <div class="info__subtitle__border"></div>
                <div class="info__hours">
                    <p><strong>Lundi: </strong>11h30 - 14h45 et 18h00 - 23h00</p>
                    <p><strong>Mardi: </strong>11h30 - 14h45 et 18h00 - 23h00</p>
                    <p><strong>Mercredi: </strong>11h30 - 14h45 et 18h00 - 23h00</p>
                    <p><strong>Jeudi: </strong>11h30 - 14h45 et 18h00 - 23h00</p>
                    <p><strong>Vendredi: </strong>11h30 - 15h30 et 18h00 - 24h00</p>
                    <p><strong>Samedi: </strong>11h30 - 15h30 et 18h00 - 24h00</p>
                    <p><strong>Dimanche: </strong>11h30 - 14h45 et 18h00 - 23h00</p>
                </div>
            </div>
            <div class="info__contents__right">
                <h3 class="info__subtitle">Horraires | Réception</h3>
                <div class="info__subtitle__border"></div>
                <div class="info__hours">
                    <p><strong>Du Lundi au dimanche </strong>24h/24</p>
                </div>
            </div>
        </aside>
        <aside class="info__contact">
            <div class="info__contact__section">
                <h3 class="info__contact__title">Adresse</h3>
                <p class="info__contact__section__adress">2 rue de la gare</p>
                <p class="info__contact__section__adress">78490 Galluis</p>
                <p class="info__contact__section__adress">06 06 06 06 60</p>
            </div>
            <div class="info__contact__section">
                <h3 class="info__contact__title">Nous suivre</h3>
                <div class="info__contact__section__reseaux">
                    <a href="#" class="info__contact__section__reseaux__link"><i class="lab la-facebook la-4x"></i></a>
                    <a href="#" class="info__contact__section__reseaux__link"><i class="lab la-twitter la-4x"></i></a>
                </div>
            </div>
            <div class="info__contact__section">
                <h3 class="info__contact__title">Réservation</h3>
                <div class="info__contact__section__buttons">
                    <button class="info__contact__section__button">Réserver</button>
                    <button class="info__contact__section__button">Ventes à emporter</button>
                </div>
            </div>
        </aside>
    </section>