<section class="reserve">
    <article class="accommodation__items">
        <div class="accommodation__item">
            <h3 class="accommodation__title">Nos nouveaux équipements</h3>
            <p class="accommodation__text">Climatisation</p>
            <p class="accommodation__text">Salle de bain avec baignoire ou douche hydrojet</p>
            <p class="accommodation__text">Ecran plat 130cm</p>
            <p class="accommodation__text">Plateau de courtoisie (thé, café)</p>
            <p class="accommodation__text">84 chambres (simples, doubles, triples, familles)</p>
            <p class="accommodation__text">Chaînes nationales + 4 chaînes satelittes + canal + téléphone</p>
            <p class="accommodation__text">Wifi gratuit</p>
            <h4 class="accommodation__service">Les services que proposent l'hôtel</h4>
            <p class="accommodation__text">réception 24h/24</p>
            <p class="accommodation__text">service fax à la réception</p>
            <p class="accommodation__text">salon</p>
            <p class="accommodation__text">parking privé gratuit</p>
            <p class="accommodation__text">navette gratuite en direction de l'aéroport sur simple appel de 6h30 à 22h30 au 01 01 01 01 01</p>
        </div>
    </article>
</section>