{% extends 'base.html.twig' %}

{% block title %}Page hébergement hôtel du nord{% endblock %}

{% block body %}
    <main class="accommodation">
        <h1 class="accommodation__title">L’hotel du nord situé à Galluis proche de la vallée de Chevreuse, hôtel 3 étoiles proche de Versailles.</h1>
        <section class="accommodation__intro">
            <p class="accommodation__intro__text">
                L'hôtel du nord à Galluis offre 84 chambres très accueillantes

            </p>
        </section>
        <h2 class="accommodation__subtitle">Les chambres</h2>
        <div id="carousel2">
            <div class="item">
                {# <div class="item__image"> #}
                    <img src="./images/chambre.jpeg" alt="facade de l'hotel" class="carousel-img">
                {# </div>
                <div class="item__body">
                    <div class="item__title">
                        Hotêl du nord
                    </div>
                    <div class="item__description">
                        Etablissement 3 étoiles est un hôtel-restaurant qui vient d'être entièrement 
                        rénové. Les salles pour les séminaires bénéficie de la technologie dernier cri et permettent un environnement serein.
                    </div> #}
                {# </div> #}
            </div>
            <div class="item">
                {# <div class="item__image"> #}
                    <img src="./images/chambre2.jpeg" alt="facade de l'hotel" class="carousel-img">
                {# </div>
                <div class="item__body">
                    <div class="item__title">
                        Hotêl du nord
                    </div>
                    <div class="item__description">
                        Etablissement 3 étoiles est un hôtel-restaurant qui vient d'être entièrement 
                        rénové. Les salles pour les séminaires bénéficie de la technologie dernier cri et permettent un environnement serein.
                    </div> #}
                {# </div> #}
            </div>
        </div>
    </main>
{% endblock %}
