{% extends 'base.html.twig' %}

{% block title %}galerie photo{% endblock %}

{% block body %}
    <main class="galerie">
        <h1 class="galerie__title">Galerie photo</h1>
    </main>
{% endblock %}
